<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie & Actor Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="container">
    <h1>Search Movies and Actors</h1>
    <form method="GET" action="/">
        <input type="text" name="query" placeholder="Search..." value="{{ query }}">
        <button type="submit">Search</button>
    </form>

    {% if movies or actors %}
    <h2>Results:</h2>

    {% if movies %}
    <h3>Movies</h3>
    <ul>
        {% for movie in movies %}
        <li>
            <a href="{{ url_for('movie_details', movie_id=movie.id) }}">{{ movie.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if actors %}
    <h3>Actors</h3>
    <ul>
        {% for actor in actors %}
        <li>
            <a href="{{ url_for('actor_details', actor_id=actor.id) }}">{{ actor.name }} {{ actor.surname }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endif %}
</div>
</body>
</html>
